a.social_bt.linkedin:before {
    content: ""!important;
}
.input_label {
    display: inline-block;
    float: right;
    color: #999;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 0px 0.25em;
    width: 100%;
    height: calc(100% - 0em)!important;
    text-align: left;
    pointer-events: none;
}