.progress {
    display: flex;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
    text-align: center;
    background-color: #e9ecef82;
    border-radius: .25rem;
    padding-bottom: 38px;
}

.mat-slider-horizontal {
    height: 48px;
    min-width: 499px;
}

h3{
    font-family: cursive!important;
    font-size: 30px!important;
    color: white!important;

}