.icon-basket{
    color: white;
   
    font-size: 27px;
}
.wow {
    visibility: visible!important;
  }
  ul#top_menu li a.search-overlay-menu-btn.pe-7s-cart{
    display: block;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    position: relative;
    top: -5px;
}

