<main>
    <section class="hero_single version_2" style="background: red;">
        <div class="wrapper">
            <div class="container">
                <h3>What would you learn?</h3>
                <p>Increase your expertise in business, technology and personal development</p>
                <form>
                    <div id="custom-search-input">
                        <div class="input-group">
                            <input type="text" class=" search-query" placeholder="Ex. Architecture, Specialization...">
                            <input type="submit" class="btn_search" value="Search">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- /hero_single -->

    <div class="features clearfix">
        <div class="container">
            <ul>
                <li><i class="pe-7s-study"></i>
                    <h4>+200 courses</h4><span>Explore a variety of fresh topics</span>
                </li>
                <li><i class="pe-7s-cup"></i>
                    <h4>Expert teachers</h4><span>Find the right instructor for you</span>
                </li>
                <li><i class="pe-7s-target"></i>
                    <h4>Focus on target</h4><span>Increase your personal expertise</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /features -->
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Udema Popular Courses</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <owl-carousel-o [options]="customOptions" style="margin-top: 30px;" #carousel (dragging)="startDragging($event.dragging)">
 
    <ng-container *ngFor="let slide of slidesStore;">
      <ng-template carouselSlide id="slide.id">
        
            <div class="item" style="margin-left:40px;margin-top: 30px;">
                <div class="box_grid">
                    <figure>
                        <a href="#0" class="wish_bt"></a>
                        <a href="course-detail.html"><img style="height: 231px;" [src]="slide.photo" class="img-fluid" alt=""></a>
                        <div class="price">DT &nbsp;{{slide.prix}}</div>
                        <div class="preview"><span>Preview course</span></div>
                    </figure>
                    <div class="wrapper">
                        <h3>{{slide.titre}}</h3>

                        <small>Category</small>
                        <h3>{{slide.categorie}}</h3>
                        <h4>{{slide.description | slice:1:50}} ... lire la suite</h4>
                        <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></div>
                    </div>
                    <ul>
                        <li><i class="icon_clock_alt"></i> 1h 30min</li>
                        <li><i class="icon_like"></i> 890</li>
                        <li><a (click)="enrol(slide._id)">Enroll now</a></li>
                    </ul>
                </div>
            </div>
          
      </ng-template>
    </ng-container>
 
  </owl-carousel-o>
    <!-- /container -->

    <!-- /container -->
    <div class="container margin_30_95">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Udema Categories Courses</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_1.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>15 Programmes</small>
                            <h3>Arts and Humanities</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_2.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Programmes</small>
                            <h3>Engineering</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_3.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Programmes</small>
                            <h3>Architecture</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_4.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Programmes</small>
                            <h3>Science and Biology</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_5.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Programmes</small>
                            <h3>Law and Criminology</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
            <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
                <a href="#0" class="grid_item">
                    <figure class="block-reveal">
                        <div class="block-horizzontal"></div>
                        <img src="http://via.placeholder.com/800x533/ccc/fff/course_6.jpg" class="img-fluid" alt="">
                        <div class="info">
                            <small><i class="ti-layers"></i>23 Programmes</small>
                            <h3>Medical</h3>
                        </div>
                    </figure>
                </a>
            </div>
            <!-- /grid_item -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->

    <div class="bg_color_1">
        <div class="container margin_120_95">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>News and Events</h2>
                <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_1.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Mark Twain</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Pri oportere scribentur eu</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_2.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Jhon Doe</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Duo eius postea suscipit ad</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_3.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Luca Robinson</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Elitr mandamus cu has</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
                <div class="col-lg-6">
                    <a class="box_news" href="#0">
                        <figure><img src="http://via.placeholder.com/500x333/ccc/fff/news_home_4.jpg" alt="">
                            <figcaption><strong>28</strong>Dec</figcaption>
                        </figure>
                        <ul>
                            <li>Paula Rodrigez</li>
                            <li>20.11.2017</li>
                        </ul>
                        <h4>Id est adhuc ignota delenit</h4>
                        <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse
                            ullum vidisse....</p>
                    </a>
                </div>
                <!-- /box_news -->
            </div>
            <!-- /row -->
            <p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">View all news</a></p>
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
    <section
        style=" height: 550px; background: url('https://www.directenglish.com/wp-content/uploads/2017/11/news7-1600x1067.jpg') center center no-repeat fixed;">
        <div class="container clearfix">
           <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-5">
                
                    <div class="card">
                        <div class="card-body">
                            <h2 style="color:white">Enjoy a great students community</h2>
                            <h6 style="color:white">

                                Ius cu tamquam persequeris, eu veniam apeirian platonem qui, id aliquip voluptatibus pri. Ei mea primis ornatus disputationi. Menandri erroribus cu per, duo solet congue ut.

Read more
                            </h6>
                        </div>
                        <button class="btn_1r">read more </button>
                    </div>
                
            </div>
           </div>
        </div>
    </section>
    <!--/call_section-->
</main>
<!-- /main -->
